@model EmployeeFormModel
@{
    ViewData["Title"] = "Edit Employee";
}

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <form asp-controller="Employees" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter email address">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}