<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group">
                    <label>Username</label>
                    <input type="username" class="form-control" formControlName="username">
                    </div>
                    <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="" formControlName="password">
                    </div>
                    <p>Does not have an account? <a [routerLink]="['/identity/register']">Sign up</a></p>
                    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
                </form>
            </div>
        <div class="col-lg-4"></div>
    </div>
</div>
