<!--Spinner-->
<div *ngIf="isLoadingCompanies" class="ml-2">
	<i class="fas fa-sync fa-spin"></i>
</div>

<div *ngIf="companyWrapper && companyWrapper.companies" class="table-responsive">
	<table class="table table-bordered table-hover"> 
		<thead>
			<tr>
				<th>Company</th>
				<th>Departments</th>
			</tr>
		</thead>
		<tbody *ngFor="let company of companyWrapper.companies">
			<tr>
				<td>{{company.name}}</td>
				<td>
					<div *ngFor="let department of company.departments" class="mb-1">
						<span *ngIf="selectedDataMatch(company.companyId, department.departmentId, companyWrapper.selectedData)">
							<i class="fas fa-check-square"></i>Current &nbsp;
						</span>
						
						<span>{{department.departmentName}}</span> &nbsp;
						
						<button
							class="btn btn-success btn-sm" 
							(click)="selectCompanyDepartment(company.companyId, department.departmentId)">Select</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<hr>

<h4 class="ml-2">My folders' views</h4>

<!--Spinner-->
<div *ngIf="isLoadingViews" class="ml-2">
	<i class="fas fa-sync fa-spin"></i>
</div>

<div *ngIf="totalViews && totalViews.length > 0" class="table-responsive">
	<table class="table table-bordered table-hover"> 
		<thead>
			<tr>
				<th>Folder name</th>
				<th>Folder id</th>
				<th>Total views</th>
				<th>Is private</th>
				<th>Create date</th>
			</tr>
		</thead>
		<tbody *ngFor="let view of totalViews">
			<tr>
				<td>{{view.name}}</td>
				<td>{{view.folderId}}</td>
				<td>{{view.totalViews}}</td>
				<td>
					<span *ngIf="view.isPrivate"><i class="fas fa-check fa-2x"></i></span>
					<span *ngIf="!view.isPrivate"><i class="fas fa-times fa-2x"></i></span>
				</td>
				<td>{{view.createDate | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
			</tr>
		</tbody>
	</table>
</div>
