<!-- <div class="navbar">
    <a routerLink="/drive/1/1"><i class="fa fa-fw fa-home"></i> Drive</a>
    <a routerLink="/identity/login" *ngIf="!isUserAuth()"><i class="fa fa-fw fa-user"></i> Sign in</a>
    <a routerLink="/identity/register" *ngIf="!isUserAuth()"><i class="fa fa-fw fa-user"></i> Sign up</a>
    <a href="#" *ngIf="isUserAuth()"><i class="fa fa-fw fa-user"></i> Hello, {{authService.getUser()}}</a>
    <a (click)="logout()" routerLink="" *ngIf="isUserAuth()"><i class="fa fa-fw fa-user"></i> Logout</a>
</div> -->

<div class="navigation-bar">
    <div id="navigation-container">
        <img class="task-logo" src="https://media-exp1.licdn.com/dms/image/C510BAQFwBMp0SxYk8A/company-logo_200_200/0?e=2159024400&v=beta&t=mE-Yu_p0NKbxSOGO8MLJdEe9b0X3wwjz5KjbwaQf4Bw">
        <ul>
            <li><a routerLink="/drive"><i class="fa fa-fw fa-home"></i> Drive</a></li>
            <li><a routerLink="/identity/profile" *ngIf="isUserAuth()"><i class="fa fa-fw fa-user-edit"></i> Profile</a></li>
            <li><a routerLink="/identity/login" *ngIf="!isUserAuth()"><i class="fas fa-sign-in-alt"></i> Sign in</a></li>
            <li><a class="inactive-link" *ngIf="isUserAuth()"><i class="fa fa-fw fa-user"></i> Hello, {{authService.getUser()}}</a></li>
            <li><a (click)="logout()" routerLink="" *ngIf="isUserAuth()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </div>
</div>

<div *ngIf="!isUserAuth()">
    <div style="text-align:center">
        <h1>
            Welcome to TaskTronic!
        </h1>
        <img width="30%" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
</div>
